@font-face {
    font-family: 'Noah';
    src: local('Noah Regular'), local('Noah-Regular'),
        url('Noah-Regular.woff2') format('woff2'),
        url('Noah-Regular.woff') format('woff'),
        url('Noah-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }